# =========================
#  Common
# =========================

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.*.local
.env.production
.env.development
.env.test

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# =========================
#  TypeScript
# =========================
*.tsbuildinfo

# =========================
#  Next.js
# =========================
.next/
out/
.vercel

# =========================
#  React (CRA or Vite)
# =========================
dist/
build/
.cache/

# Vite specific
vite.config.ts.timestamp-*
.vite/


# =========================
#  Node.js backend
# =========================
# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/avatars/user.png
!backend/uploads/avatars/admin.png
!backend/uploads/avatars/technician.png
# PM2 logs
.pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# Prisma
prisma/migrations/
*.db

# =========================
#  Testing
# =========================
coverage/
.nyc_output/

# =========================
#  Misc
# =========================
*.tgz
.eslintcache
.parcel-cache/
